<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="jetscape-navigation">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <img src="/images/jetscape.svg" class="logo">
    <iron-selector selected="[[route.path]]" attr-for-selected="name" class="nav-list" role="navigation">
      <a name="/dashboard/" href="dashboard/">Dashboard</a>
      <a name="/inventory/" href="inventory/">Inventory</a>
      <a name="/orders/" href="orders/">Orders</a>
      <a name="/returns/" href="returns/">Returns</a>
      <a name="/settings/" href="settings/">Settings</a>
    </iron-selector>

  </template>

  <script>
    class JetscapeNavigation extends Polymer.Element {
      static get is() { return 'jetscape-navigation'; }
    }

    window.customElements.define(JetscapeNavigation.is, JetscapeNavigation);
  </script>
</dom-module>
